manifest {
    name            = 'novelTRs/annotsv-nf'
    author          = 'Taimoor'
    description     = 'Nextflow DSL2 pipeline for SV/TR annotation with AnnotSV'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    input               = null
    outdir              = 'results'
    genome_build        = 'GRCh38'
    hpo                 = null
    candidate_genes     = null
    publish_dir_mode    = 'copy'
    help                = false

    annotsv_dir         = '/home/taimoor/tools/AnnotSV'
    annotations_dir     = '/home/taimoor/tools/AnnotSV/share/AnnotSV'
    bedtools_path       = '/home/taimoor/miniforge3/envs/vardigs/bin/bedtools'
    bcftools_path       = '/home/taimoor/miniforge3/envs/vardigs/bin/bcftools'

    dx_project          = 'project-JB6zg5Q0pzX96qVJjz7gKg58'
    use_docker          = false
    
    // Explicit docker image param for manual wrapping
    annotsv_image       = 'quay.io/biocontainers/annotsv:3.5.10--hdfd78af_0'
}

process {
    cpus   = 4
    memory = '8 GB'
    time   = '4 h'
}

profiles {
    local {
        process.executor            = 'local'
        workDir                     = '/tmp/nxf_annotsv_work'
        params.dx_project           = null
        params.use_docker           = false
    }

    // DNAnexus Cloud Execution
    dnanexus {
        // The applet-provided Nextaur plugin submits each process as a child job.
        process.executor             = 'dnanexus'
        
        // We explicitly turn OFF Nextflow's Docker wrapper to avoid the .command.run bug
        docker.enabled               = false
        
        // ANNOTSV uses an explicit docker command to work around the observed
        // Nextaur .command.run mount issue with automatic Docker wrapping.
        params.use_docker            = true
        
        params.dx_project            = 'project-JB6zg5Q0pzX96qVJjz7gKg58'
        params.annotations_dir       = 'dx://project-JB6zg5Q0pzX96qVJjz7gKg58:/resources/AnnotSV'
        params.bedtools_path         = 'bedtools'
        params.bcftools_path         = 'bcftools'
        params.annotsv_dir           = ''
        params.publish_dir_mode      = 'copy'

        process {
            withName: 'ANNOTSV' {
                cpus   = 8
                memory = '58 GB'
                time   = '24 h'
            }
            withName: 'GENERATE_SUMMARY' {
                cpus   = 2
                memory = '4 GB'
                time   = '1 h'
            }
        }
    }
}
