manifest {
    name            = 'novelTRs/sv-preprocess'
    author          = 'Taimoor'
    description     = 'Traceably normalize INS records to DUP for downstream annotation'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params { input = null; outdir = 'results'; dx_project = null }

profiles {
    local { process.executor = 'local'; workDir = '/tmp/nxf_sv_preprocess' }
    dnanexus { process.executor = 'dnanexus'; params.dx_project = 'project-JB6zg5Q0pzX96qVJjz7gKg58'; process.cpus = 2; process.memory = '4 GB'; process.time = '2 h' }
}
