manifest {
    name            = 'novelTRs/annotation'
    author          = 'Taimoor'
    description     = 'Consolidated SV/TR annotation pipeline (sv_preprocess + AnnotSV + PhenoGenius) for DNAnexus'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    input               = null
    outdir              = 'results'
    genome_build        = 'GRCh38'
    tx                  = 'ENSEMBL'
    hpo                 = null
    candidate_genes     = null
    publish_dir_mode    = 'copy'
    help                = false

    annotsv_dir         = '/home/taimoor/tools/AnnotSV'
    annotations_dir     = '/home/taimoor/tools/AnnotSV/share/AnnotSV'
    bedtools_path       = '/home/taimoor/miniforge3/envs/vardigs/bin/bedtools'
    bcftools_path       = '/home/taimoor/miniforge3/envs/vardigs/bin/bcftools'
    phenogenius_bundle  = null
    phenogenius_env     = '/home/taimoor/miniforge3/envs/annotsv'

    dx_project          = 'project-JB6zg5Q0pzX96qVJjz7gKg58'
    use_docker          = false
    annotsv_image       = 'quay.io/biocontainers/annotsv:3.5.10--hdfd78af_0'
}

process {
    cpus   = 4
    memory = '8 GB'
    time   = '4 h'
}

profiles {
    local {
        process.executor            = 'local'
        workDir                     = '/tmp/nxf_annotation_work'
        params.dx_project           = null
        params.use_docker           = false
    }

    dnanexus {
        process.executor            = 'dnanexus'
        docker.enabled              = false
        params.use_docker           = true
        params.dx_project           = 'project-JB6zg5Q0pzX96qVJjz7gKg58'
        params.annotations_dir       = 'dx://project-JB6zg5Q0pzX96qVJjz7gKg58:/resources/AnnotSV'
        params.phenogenius_bundle   = 'dx://project-JB6zg5Q0pzX96qVJjz7gKg58:/resources/PhenoGenius/PhenoGeniusCli-v1.1.3-dx.tar.gz'
        params.bedtools_path         = 'bedtools'
        params.bcftools_path         = 'bcftools'
        params.annotsv_dir           = ''
        params.publish_dir_mode      = 'copy'

        process {
            withName: 'SV_PREPROCESS' {
                cpus   = 2
                memory = '4 GB'
                time   = '2 h'
            }
            withName: 'ANNOTSV' {
                cpus   = 8
                memory = '58 GB'
                time   = '24 h'
            }
            withName: 'PHENOGENIUS_ENRICH' {
                cpus   = 8
                memory = '58 GB'
                time   = '24 h'
            }
        }
    }
}
