manifest {
    name            = 'novelTRs/phenogenius-enrich'
    author          = 'Taimoor'
    description     = 'Append PhenoGenius phenotype scores to an existing AnnotSV TSV'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    input_tsv       = null
    hpo             = null
    outdir          = 'results'
    phenogenius_env = '/home/taimoor/miniforge3/envs/annotsv'
    phenogenius_cli = '/home/taimoor/tools/AnnotSV/share/python3/phenogeniuscli/PhenoGeniusCli/phenogenius_cli.py'
    resource_dir    = '/home/taimoor/tools/AnnotSV/share/python3/phenogeniuscli/PhenoGeniusCli/data/resources'
}

process {
    cpus   = 8
    memory = '16 GB'
    time   = '8 h'
}

profiles {
    local {
        process.executor = 'local'
        workDir = '/tmp/nxf_phenogenius_work'
        process.memory = '8 GB'
    }
    dnanexus {
        process.executor = 'dnanexus'
        process {
            cpus   = 8
            memory = '58 GB'
            time   = '24 h'
        }
    }
}
